/*
* @Author: sahildua2305
* @Date:   2016-05-02 02:47:34
* @Last Modified by:   Sahil Dua
* @Last Modified time: 2016-05-02 03:14:31
*/


ol, ul, li {
	list-style:none
}

:focus {
	outline:none
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4c4c4c;
	width: 500px;
}

p {
	font-size: 12px;
	width: 150px;
	display: inline-block;
	margin-left: 18px;
}
h1 {
	font-size: 32px;
	font-weight: 300;
	color: #4c4c4c;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}
